@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
	--color-background-light: #fff;
	--font-ard: "Ard", sans-serif;
	--font-cairo: "Cairo", sans-serif;

	--color-background: #fff;
	--color-background-onBg: #171c2f;

	--color-text: #171c2f;

	--color-primary: #5939c7;
	--color-primary-hover: #462ba0;
}

.dark {
	--color-background: #101320;
	--color-background-onBg: #171c2f;

	--color-text: white;

	--color-primary: #5939c7;
	--color-primary-hover: #462ba0;
}

@utility no-scrollbar {
	&::-webkit-scrollbar {
		display: none; /* Hide scrollbar for Chrome, Safari and Opera */
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* Swiper styles */
.swiper-pagination-bullet-active {
	background-color: #fff;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	color: black;
	font-size: 2rem;
	padding-bottom: 4.5rem;
}

* {
	transition: all 0.2s ease-out;
	direction: rtl;
}
