---
import type { Product } from "../../../types/types";
import { getLangFromUrl, getTranslations } from "../../utils/i18n";
import ProductCard from "../ProductCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = await getTranslations(lang as keyof typeof import("../../utils/i18n").languages);

const { data } = Astro.props;
const featuredProducts: Product[] = data;
---

<div class="mt-14 md:mt-20 mb-10">
	<span class="block mb-10 font-bold text-3xl text-center w-full"
		>{t.home.featuredProducts}</span
	>

	<div class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 flex-col gap-2 justify-between">
		{
			featuredProducts.map((product) => {
				return <ProductCard product={product} />;
			})
		}
	</div>
</div>
