---
import CategoriesSection from "../components/sections/CategoriesSection.astro";
import FeaturedProducts from "../components/sections/FeaturedProducts.astro";
import Footer from "../components/sections/Footer.astro";
import SwiperSection from "../components/sections/SwiperSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<SwiperSection />

	<CategoriesSection />

	<FeaturedProducts />

	<div class="flex items-center justify-center mb-10">
		<a
			href="/all-products"
			aria-label="See all products"
			class="flex gap-4 items-center text-center px-6 py-2 bg-black/50 hover:bg-black/70 dark:bg-white/30 dark:hover:bg-white/50 text-white rounded-md text-lg font-semibold transition-all duration-300 ease-in-out"
		>
			<span>+</span>

			<span>See All Products</span>
		</a>
	</div>
</Layout>
