---
import ChangeLanguage from "./ChangeLanguage.tsx";
import ToggleTheme from "./ToggleTheme.astro";
import navbar from "../data/navbar.json";
import NavbarProducts from "../components/custom/NavbarProducts.tsx";

const categories = await fetch(`${import.meta.env.BASE_API}/categories`);
const data = await categories.json();
---

<div
	class="hidden md:flex rounded-3xl py-2 px-4 gap-10 text-black dark:text-white bg-black/10 dark:bg-white/10 place-items-center backdrop-blur-xl"
>
	<ToggleTheme />
	<NavbarProducts client:load categories={data} />

	{
		navbar.map((item) => {
			return (
				<a href={item.link} class="text-lg flex gap-2">
					{item.name}
				</a>
			);
		})
	}
	<ChangeLanguage client:load />
</div>
