---
import ChangeLanguage from "./ChangeLanguage.tsx"
import ToggleTheme from "./ToggleTheme.astro"
import navbar from "../data/navbar.json"
import NavbarProducts from "../components/custom/NavbarProducts.tsx"

const DUMMY_CATEGORIES = [
	{
		name: "Category 1",
		link: "#",
	},
	{
		name: "Category 2",
		link: "#",
	},
	{
		name: "Category 3",
		link: "#",
	},
]
---

<div
	class="hidden md:flex rounded-3xl py-2 px-4 gap-10 bg-black/5 dark:bg-white/10 place-items-center backdrop-blur-md"
>
	<ToggleTheme />
	<NavbarProducts client:load dummy={DUMMY_CATEGORIES} />

	{
		navbar.map((item) => {
			return (
				<a href={item.link} class="transition-all duration-300 text-lg flex gap-2">
					{item.name}
				</a>
			)
		})
	}
	<ChangeLanguage client:load />
</div>
