---
import WhatsAppIcon from "./Icons/WhatsAppIcon.astro";
---

<a
	href="/"
	class="bg-[#00CC6C] hover:bg-[#008848] text-white px-2 py-1 md:px-4 md:py-2 rounded-full md:font-bold flex gap-2"
>
	<WhatsAppIcon />
	<span>تواصل معنا</span>
</a>
