---
import { getTranslations } from "../utils/i18n";
import { companyData } from "../data/company-details";

interface Props {
	currentLang?: string;
}

const { currentLang = "ar" } = Astro.props;
const t = await getTranslations(currentLang as keyof typeof import("../utils/i18n").languages);

const number = companyData.whatsapp;
console.log(number);
---

<a
	href={number}
	class="transistion-all duration-300 bg-[#00cc6dc0] hover:bg-[#008848] backdrop-blur-lg text-white px-2 py-1 md:px-4 md:py-2 rounded-full md:font-bold flex gap-2 items-center"
>
	<span class="icon-[ic--twotone-whatsapp] text-2xl"></span>
	<span>{t.common.whatsappContact}</span>
</a>
