---
import type { Product } from "../../../types/types";
import ProductCard from "../../components/ProductCard.astro";
import PageHeader from "../../components/sections/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";

const products = await fetch(`${import.meta.env.BASE_API}/items`);
const data = await products.json();
// commit
---

<Layout>
	<PageHeader />
	<div
		class="grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 flex-col gap-4 justify-between py-10"
	>
		{
			data.map((product: Product) => {
				return <ProductCard product={product} />;
			})
		}
	</div>
</Layout>
