---
import Navbar from "../components/Navbar.astro";
import BaseHead from "./BaseHead.astro";
import "../styles/global.css";
import SizeIndicator from "../components/custom/SizeIndicator.astro";
import Footer from "../components/sections/Footer.astro";
---

<!doctype html>
<html lang="en" class="overflow-y-scroll">
	<head>
		<BaseHead />
	</head>

	<body
		class="antialiased bg-background-light dark:bg-background-dark font-cairo text-black dark:text-white"
	>
		<Navbar />
		<SizeIndicator /><div class="max-w-7xl mt-10 mx-4 md:mx-auto" id="website-body">
			<slot />
		</div>
	</body><Footer />
</html>

<style>
	html,
	body {
		margin: 0;
		scrollbar-gutter: stable;
		scroll-behavior: smooth;
	}
</style>
